# Virtual environment
app/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Data files (too large for GitHub)
data/clean_data.parquet
data/MachineLearningCVE/

# Trained models (too large for GitHub)
models/*.pkl
models/*.keras

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

captures/